<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facerecognition" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>facerecognition</name>
    <js-module name="facerecognition" src="www/Facerecognition.js">
        <clobbers target="cordova.plugin.facerecognition" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="facerecognition">
                <param name="android-package" value="cordova.plugin.facerecognition.Facerecognition" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Facerecognition.java" target-dir="src/cordova/plugin/facerecognition/Facerecognition" />
    </platform>
</plugin>